.mat-grid-list--size {
  width: 600px;
}

.mat-form-field--size {
  width: 100%;
}

:host ::ng-deep {
  .mat-grid-tile--flex {
    .mat-grid-tile-content {
      display: initial !important;
    }
  }

  div.mat-mdc-card-header-text {
    flex-grow: 1;
  }
}

.task-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
