<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="task-title">
        <span>Task</span>
        <button *ngIf="formGroup.disabled" (click)="edit()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle>
        &nbsp;
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-grid-list cols="2" rowHeight="1:1" gutterSize="1rem" class="mat-grid-list--size">
        <mat-grid-tile class="mat-grid-tile--flex">
          <mat-form-field class="mat-form-field--size">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>
          <mat-form-field class="mat-form-field--size">
            <mat-label>Author</mat-label>
            <input matInput formControlName="author">
          </mat-form-field>
          <mat-form-field class="mat-form-field--size">
            <mat-label>Color</mat-label>
            <mat-select formControlName="color">
              <mat-option [value]="'#f53c3e'">Red</mat-option>
              <mat-option [value]="'#edb201'">Yellow</mat-option>
              <mat-option [value]="'#8bc43e'">Green</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="mat-grid-tile--flex">
          <mat-form-field class="mat-form-field--size">
            <mat-label>Description</mat-label>
            <textarea rows="9" matInput formControlName="description"></textarea>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions class="mat-card-actions--padding">
        <button mat-raised-button class="mr-2" (click)="edit()" *ngIf="formGroup.disabled">Edit</button>
        <button mat-raised-button class="mr-2" (click)="complete()">Complete</button>
        <button mat-raised-button class="mr-2" color="primary" [mat-dialog-close]="formGroup.value" [disabled]="formGroup.invalid" *ngIf="formGroup.enabled">Save</button>
        <button mat-raised-button color="warn" (click)="formGroup.reset()">Reset</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</form>
