<h1>Task Manager</h1>

<div class="tasks">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Tasks</mat-card-title>
            <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table *ngIf="tasks$ | async as tasks" mat-table [dataSource]="tasks">
                <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element"> <div class="color-box" [style]="{ background: element.color }"> </div></td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title</th>
                    <td mat-cell *matCellDef="let element"> {{ (element.title.length > 32) ? (element.title | slice:0:32) + '...' : (element.title) }} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description</th>
                    <td mat-cell *matCellDef="let element"> {{ (element.description.length > 32) ? (element.description | slice:0:32) + '...' : (element.description) }} </td>
                </ng-container>

                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef> Author</th>
                    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
                </ng-container>

                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef> Creation Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.creationDate | date : 'medium' }} </td>
                </ng-container>

                <ng-container matColumnDef="lastUpdateDate">
                    <th mat-header-cell *matHeaderCellDef> Last Update Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.lastUpdateDate | date : 'medium' }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button (click)="openReadDialog(element)">Read</button> &nbsp;
                        <button mat-raised-button color="warn" (click)="delete(element.id)">Delete</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions class="mat-card-actions--padding">
                <button mat-raised-button color="primary" (click)="openCreateDialog()">+ Task</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
</div>
